@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post">
<table>
    
    <tr>
        <td>User id</td>
         <td><input name="uname" /></td>
    </tr>
       <tr>
        <td>passwod</td>
         <td><input name="pass" /></td>
    </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="login"/>
            </td>
        </tr>
    
</table>
    </form>