
body {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px !important;
  line-height: 1.42857;
}
.emp_img_col{
  text-align: center;
}
.epm_img img {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #ECF0F5;
  margin-bottom:10px;
}
.cust_file input[type="file"] {
  display: block;
  padding-top: 0!important;

  
}
.printbtn {
  text-align: left;
  display: flex;
}

.row.custom_top_btn {
  margin-right: 2%;
}

