@model DataSource.Book

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
           <form class="well form-horizontal" enctype="multipart/form-data" method="post"  id="contact_form">
        <fieldset>

        <!-- Form Name -->
        <legend>Add Book</legend>

            
        <div class="form-group">
          <label class="col-md-4 control-label">Book Id</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="bkid" placeholder="Book Name" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Book Name</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  name="bkname" placeholder="Book Name" class="form-control"  type="text">
            </div>
          </div>
        </div>
    @*    
        <div class="form-group"> 
          <label class="col-md-4 control-label">Book Category</label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="book" class="form-control selectpicker" >
                  <option value=" " >Book Category</option>
                  <option>Alabama</option>
            </select>
          </div>
         </div>
        </div>*@

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label" >Author Name</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input name="atame" placeholder="Author Name" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <!-- Text input-->
               <div class="form-group">
          <label class="col-md-4 control-label">Publish Year</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          <input name="pbyear" placeholder="Publish Year" class="form-control"  type="date">
            </div>
          </div>
        </div>


        <!-- Text input-->
       
        <div class="form-group">
          <label class="col-md-4 control-label">Price</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
          <input name="price" placeholder="" class="form-control" type="text">
            </div>
          </div>
        </div>


        
        <div class="form-group">
          <label class="col-md-4 control-label">Quantity</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
          <input name="quantity" placeholder="" class="form-control" type="text">
            </div>
          </div>
        </div>
        

          <div class="form-group">
                                    <label class="col-md-4 control-label">Upload Book Picture </label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group cust_file">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="file" id="file" placeholder="profile picture" class="form-control" type="file" onchange="ValidateSingleInput(this);" required>
                                        </div>
                                    </div>
                                </div>
                                                     

        <!-- Success message -->
        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning" >Submit<span class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>

        </fieldset>
        </form>
</div>