@model List<DataSource.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container" style="padding-top:5.5%">
           <form class="well form-horizontal" enctype="multipart/form-data" method="post"  id="contact_form">
        <div style="margin-left:150px">

        <!-- Form Name -->
        @*<legend>Add Book</legend>*@

            <b>Add Book</b>
            <hr>
        <div class="form-group">
          <label class="col-md-4 control-label">Book Id</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          
          <input  name="bkid" placeholder="Book Id" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Book Name</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          
          <input  name="bkname" placeholder="Book Name" class="form-control"  type="text">
            </div>
          </div>
        </div>
        
        <div class="form-group"> 
          <label class="col-md-4 control-label">Book Category</label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                
            <select name="Cat">
           @foreach (var item in Model)
            {
               
                   <option value="@Html.DisplayFor(modelItem => item.catId)">@Html.DisplayFor(modelItem => item.catName)</option>
               

           }
                </select>
          </div>
         </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label" >Author Name</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          
          <input name="atname" placeholder="Author Name" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <!-- Text input-->
               <div class="form-group">
          <label class="col-md-4 control-label">Publish Year</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
               
          <input name="pbyear" placeholder="Publish Year" class="form-control"  type="date">
            </div>
          </div>
        </div>


        <!-- Text input-->
       
        <div class="form-group">
          <label class="col-md-4 control-label">Price</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <input name="price" placeholder="" class="form-control" type="text">
            </div>
          </div>
        </div>


        
        <div class="form-group">
          <label class="col-md-4 control-label">Quantity</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <input name="quantity" placeholder="" class="form-control" type="text">
            </div>
          </div>
        </div>
        

          <div class="form-group">
                                    <label class="col-md-4 control-label">Upload Book Picture </label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group cust_file">
                                            
                                            <input name="file" id="file" placeholder="profile picture" class="form-control" type="file" onchange="ValidateSingleInput(this);" required>
                                        </div>
                                    </div>
                                </div>
                                                     

        <!-- Success message -->

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning" >Submit</button>
          </div>
        </div>
          
        </div>
        </form>
</div>