<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="testWcf.Service1">
        <endpoint address="testWcf" binding="basicHttpBinding" contract="testWcf.ITestWcf" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="BookDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-MNCSP62\SQLEXPRESS;Initial Catalog=bookShop;Integrated Security=True" />
  </connectionStrings>
</configuration>